* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, #182547 0%, #182243 0.01%, #1f3656 100%);
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  margin: 2rem 0;
}

.score {
  text-transform: uppercase;
  text-align: center;
  background: white;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  color: #555164;
}

.score p {
  font-size: 1.4rem;
}

.score h1 {
  font-size: 4rem;
}
